<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>affirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{1267,345},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>affirmb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{1339,345},{120,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bofang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1411,323},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eBET_logo_RBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,94}</string>
                <key>spriteSourceSize</key>
                <string>{302,94}</string>
                <key>textureRect</key>
                <string>{{823,345},{302,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1355,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhuibox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{893,441},{100,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>figure_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,320}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1375,1},{300,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>figure_delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,42}</string>
                <key>textureRect</key>
                <string>{{651,445},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>figure_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,42}</string>
                <key>textureRect</key>
                <string>{{651,445},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>figure_selectb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{80,42}</string>
                <key>textureRect</key>
                <string>{{733,445},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{397,445},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_boxb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{499,445},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiazaiicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,445},{62,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,12}</string>
                <key>spriteSourceSize</key>
                <string>{82,12}</string>
                <key>textureRect</key>
                <string>{{1465,481},{82,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,12}</string>
                <key>spriteSourceSize</key>
                <string>{300,12}</string>
                <key>textureRect</key>
                <string>{{397,497},{300,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadgua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,12}</string>
                <key>spriteSourceSize</key>
                <string>{300,12}</string>
                <key>textureRect</key>
                <string>{{1267,467},{300,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_11x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1643,323},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_3d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1643,405},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_k3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1677,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_pc28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1677,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_pk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1677,165},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>passworda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1377,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>passwordb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1399,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,114}</string>
                <key>spriteSourceSize</key>
                <string>{112,114}</string>
                <key>textureRect</key>
                <string>{{1529,323},{112,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1287,481},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{73,445},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popup_selection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{235,445},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,342}</string>
                <key>spriteSourceSize</key>
                <string>{550,342}</string>
                <key>textureRect</key>
                <string>{{823,1},{550,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register_delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1235,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>register_deleteb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1261,485},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1421,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seat_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{534,22}</string>
                <key>spriteSourceSize</key>
                <string>{560,30}</string>
                <key>textureRect</key>
                <string>{{699,489},{534,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seat_location.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{815,445},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,442}</string>
                <key>spriteSourceSize</key>
                <string>{820,442}</string>
                <key>textureRect</key>
                <string>{{1,1},{820,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1443,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startiocn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{601,445},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{1127,345},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1311,481},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>userb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1333,481},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{857,441},{40,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture1.png</string>
            <key>size</key>
            <string>{1758,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795c2fc70193f934fe7c82922f3c70bb:da99185815cf08d7befd735f568691ff:525ee7cd8905f7a7f656aa98e57db216$</string>
            <key>textureFileName</key>
            <string>texture1.png</string>
        </dict>
    </dict>
</plist>
